<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shoppie</title>
  </head>
  <body>
    <h1>Hello <b><%= name %></b>,</h1>
    <h3>Welcome to Men's Shoppie! Where Comfort Meets Elegance</h3>
    <p>
      We are delighted to have you as a customer! and promise to keep you up to
      date with our latest deals. Elevate Your Style with Our Latest Collection
    </p>
    <img
      src="https://i.ibb.co/VLK8Shv/mensuitsss.jpg"
      alt="Men's Suits"
      width="80%"
      style="max-width: 40rem"
      height="auto"
    />

    <p>Warm Regards,<br />>Shoppie Team</p>

    <div>
      <p>
        Copyright © 2024 Shoppie. All Rights Reserved. <br />
        Shoppie will always protect your security and privacy, Please read our
        detailed <span style="color: #1155cc">Privacy Policy</span>. <br />
        Please do not reply to this email. For support, you can
        <span style="color: #1155cc">Contact Us</span>.
      </p>
      <p>
        Contact Address: <br />

        Chuka, Tharaka Nithi, Kenya
      </p>
    </div>
  </body>
</html>
