<div *ngIf="loading" class="overlay">
  <app-loading></app-loading>
</div>

<div class="stats">
  <div class="card" style="background-color: #f7e7d0;">
    <div>
      <div class="card-header">
        <p style="font-size: 18px;">Total Users</p>
      </div>
      <div class="card-body">
        <p style="color: #ec981b; font-size: 25px;">{{ totalUsers }}</p>
      </div>
    </div>
    <div class="icon">
      <img src="/assets/icons/sales.png" alt="">
    </div>
  </div>

  <div style="background-color: #FCCFD7;" class="card">
    <div>
      <div class="card-header">
        <p>Total Products</p>
      </div>
      <div class="card-body">
        <p style="color: #f62b50; font-size: 25px;">{{ totalProducts }}</p>
      </div>
    </div>
    <div class="icon">
      <img src="/assets/icons/pendingDelivery.png" alt="">
    </div>
  </div>

  <div style="background-color: #CFF9FC;" class="card">
    <div>
      <div class="card-header">
        <p>Categories</p>
      </div>
      <div class="card-body">
        <p style="color: #15deec; font-size: 25px;">{{ totalCategories }}</p>
      </div>
    </div>
    <div class="icon">
      <img src="/assets/icons/delivery.png" alt="">
    </div>
  </div>

  <div style="background-color: #DCEFCC;" class="card">
    <div>
      <div class="card-header">
        <p>Total Products Sold</p>
      </div>
      <div class="card-body">
        <p style="color: #59be0c; font-size: 25px;">{{ totalProductsSold }}</p>
      </div>
    </div>
    <div class="icon">
      <img src="/assets/icons/icons8-money-80.png" alt="">
    </div>
  </div>
</div>

<!-- Include StockChartComponent if needed, outside of the loading overlay -->
<!-- <app-stock-chart [chartData]="tenLeastStockProducts" chartLabel="Least Stock Products"></app-stock-chart> -->
<!-- <app-stock-chart [chartData]="topTenSellingProducts" chartLabel="Top Selling Products"></app-stock-chart> -->
