<div class="addproducts">
  <button class="buttonAdd">
    <div class="icon">
      <img height="22px" src="/assets/icons/add.png" alt="">
    </div>
    <div class="addtxt">
      <p>ADD NEW PRODUCT</p>
    </div>
  </button>
</div>

<div class="products">
  <div class="product" *ngFor="let product of products">
    <div class="div1">
      <div class="img">
        <img [src]="product.image" [alt]="product.name" style="height: 80px;">
      </div>
      <div class="details">
        <p style="font-size: 16px; font-weight: 300;" class="productName">{{ product.name }}</p>
        <p class="productType">{{ product.type }}</p>
        <p style="font-weight: 700;" class="productPrice">Ksh. {{ product.price }}</p>
      </div>
      <div class="controls">
        <button class="more">
          <img height="20px" src="/assets/icons/more.png" alt="">
        </button>
        <div class="dropdown">
          <button class="edit">
            <img height="20px" src="/assets/icons/edit.png" alt="">
          </button>
          <button class="delete">
            <img height="20px" src="/assets/icons/delete.png" alt="">
          </button>
        </div>
      </div>
    </div>
    <div class="div2">
      <div class="descriptionTitle">
        Description
      </div>
      <div class="descriptionText">
        <p>{{ product.description }}</p>
      </div>
    </div>
    <div class="div3">
      <div class="remaning">
        Remaining Products ({{ product.remainingProducts }})
      </div>
      <div class="remainingProgressBar">
        <div class="progress-container">
          <div class="progress-bar" [style.width.%]="(product.remainingProducts / product.totalProducts) * 100"></div>
        </div>
      </div>
    </div>
  </div>
</div>
