<p>products-admin works!</p>


<div class="addproducts">
  <button class="buttonAdd">
    <div class="icon">
      <img height="22px" src="/assets/icons/add.png" alt="">
    </div>
    <div class="addtxt">
      <p>ADD NEW PRODUCT</p>
    </div>
  </button>
</div>

<div class="products">
  <div class="product">
    <div class="div1">
      <div class="img">
        
<!-- IMAGE HERE -->
      </div>
      <div class="details">
        <!-- Details here -->
      </div>

      <div class="controls">
        <!-- Controls here -->
      </div>

    </div>
  </div>
</div>
