
nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  