<style>
  @import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
</style>

<div class="navbar">
  <div class="logo">
    <p style="font-family: 'Allerta Stencil', sans-serif;">Men'SHOPIE</p>
  </div>
  <nav>
    <a>Home</a>
    <a>Start Shopping</a>
    <a>Wishlist</a>
    <a class="cartNav">
      <div class="navCart">
      </div>
      <img style="height: 30px;" src="/assets/icons/cartcart.png" alt="">
    </a>
    <div class="user-dropdown">
      <img style="height: 30px;" src="/assets/icons/user.png" alt="User">
      <div class="dropdown-content">
        <a>Login</a>
        <a>Signup</a>
      </div>
    </div>

  </nav>
</div>


