<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
  <title>Admin Dashboard</title>
</head>

<body>
  <div class="container">
    <div class="sidebar">
      <div class="logo">
        Men'SHOPIE
      </div>
      <nav>
        <ul>
          <li>
            <img style="height: 25px;" src="/assets/icons/dash.png" alt="">
            <a>Dashboard</a>
          </li>
          <li>
            <img style="height: 25px;" src="/assets/icons/items.png" alt="">
            <a>Products</a>
          </li>
          <li>
            <img style="height: 25px;" src="/assets/icons/list.png" alt="">
            <a>Orders</a>
          </li>
          <li>
            <img style="height: 25px;" src="/assets/icons/clients.png" alt="">
            <a>Customers</a>
          </li>

          <li>
            <img style="height: 25px;" src="/assets/icons/settings.png" alt="">
            <a>Settings</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="main-content">
      <header>
        <div class="search-bar">
          <p style="color: white;">Admin's Dashboard</p>
        </div>
        <div class="user-info">
          <img src="user-avatar.png" alt="User Avatar">
          <span>John Doe</span>
        </div>
      </header>


      <!-- Dashboardd starts here -->

      <div class="dashboard">
        <!-- Stats(data) starts  here -->
        <div class="stats">
          <div class="card" style="background-color: #f7e7d0;">
            <div>
              <div class="card-header">
                <p style="font-size: 18px;">Total Orders</p>
              </div>
              <div class="card-body">
                <p style="color: #ec981b; font-size: 25px;">{{totalOrders}}</p>
              </div>
            </div>
            <div class="icon">
              <img src="/assets/icons/sales.png" alt="">

            </div>
          </div>


          <div style="background-color: #FCCFD7;" class="card">
            <div>
              <div class="card-header">
                <p>Pending Orders</p>
              </div>
              <div class="card-body">
                <p style="color: #f62b50; font-size: 25px;">{{pendingOrders}}</p>
              </div>
            </div>
            <div class="icon">
              <img src="/assets/icons/pendingDelivery.png" alt="">


            </div>
          </div>

          <div style="background-color: #CFF9FC;" class="card">
            <div>
              <div class="card-header">
                <p>Completed Orders</p>
              </div>
              <div class="card-body">
                <p style="color: #15deec; font-size: 25px;">{{completedOrders}}</p>
              </div>
            </div>
            <div class="icon">

              <img src="/assets/icons/delivery.png" alt="">


            </div>
          </div>


          <div style="background-color: #DCEFCC;" class="card">
            <div>
              <div class="card-header">
                <p>Total Earnings</p>
              </div>
              <div class="card-body">
                <p style="color: #59be0c; font-size: 25px;">{{totalEarnings}}</p>
              </div>
            </div>
            <div class="icon">
              <img src="/assets/icons/icons8-money-80.png" alt="">
            </div>
          </div>

        </div>

        <!-- Stats(data) ends here -->

        <!--Content navigation starts here  -->
        <div class="components">
          <!-- To add dynamic (Compnents) here-->
         <div class="navigateTo">

          <div class="navigateDashboard">
            <app-admin-visuals></app-admin-visuals>
          </div>

          <div class="navigateToProducts">
           <app-products-admin></app-products-admin>
          </div>

          <div class="navigateToOrders">
            <app-orders></app-orders>
          </div>

          <div class="navigateToClients">
            <app-clients></app-clients>
          </div>
          <div class="naviateToForm">
            <app-form></app-form>
          </div>
         </div>

        </div>
      </div>
    </div>
  </div>
</body>

</html>
