<div *ngIf="loading" class="overlay">
  <app-loading></app-loading>
</div>
<app-message *ngIf="message" [message]="message" [messageType]="messageType"></app-message>

<head>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
  </head>
</head>

<body>
  <app-navbar></app-navbar>
  <div class="login">
    <div class="form-container">
      <h2 style="text-align: start; font-weight: 500">EXISTING MEMBER</h2>
      <p style="text-align: start; margin-bottom: 30px">Welcome Back!</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="email" formControlName="email" placeholder="Enter your email" required />
        <div *ngIf="email && email.invalid && (email.dirty || email.touched)">
          <div style="font-size: small; color: rgb(255, 81, 81)" *ngIf="email.errors?.['required']">
            Email is required.
          </div>
          <div *ngIf="email.errors?.['email']">
            Please enter a valid email address.
          </div>
        </div>

        <input type="password" formControlName="password" placeholder="Enter your password" required />
        <div *ngIf="
            password && password.invalid && (password.dirty || password.touched)
          ">
          <div style="font-size: small; color: rgb(255, 81, 81)" *ngIf="password.errors?.['required']">
            Password is required.
          </div>
        </div>

        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </form>
      <p style="margin-top: 20px;">Don't have an account?
        <button  routerLink="/signup">Register Now</button></p>
    </div>
    <P style="
        color: white;
        position: absolute;
        margin-right: -1250px;
        margin-bottom: -300px;
      ">FOR Men By Men</P>
    <video autoplay muted loop id="backgroundVideo">
      <source src="/assets/mp4/mensuits.mp4" type="video/mp4" />
    </video>
  </div>
</body>
