<!-- Navbar -->
 <head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">

 </head>
<nav class="navbar">
  <div class="navbar-brand">
    <a href="#">
      <!-- <img src="logo.png" alt="Shoppie Logo"> -->
    </a>
  </div>
  <div class="navbar-search">
    <input type="text" placeholder="Search products...">
    <button class="search-btn">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="navbar-icons">
    <a href="#" class="navbar-icon">
      <i class="fa fa-user"></i>
    </a>
    <a href="#" class="navbar-icon">
      <i class="fa fa-heart"></i>
    </a>
    <a href="#" class="navbar-icon">
      <i class="fa fa-shopping-cart"></i>
    </a>
  </div>
</nav>



<!-- Hero Section -->
<section class="hero" style="background-image: url(/assets/imgs/whiteSout.jpg); background-color: black;">
  <div class="hero-content" style="margin-left: 70px;">
    <span>FIND YOUR <br> PERFECT LOOK <br> EFFORTLESSLY</span>
    <p>Immerse yourself in our refined selection of fashion-forward attire, <br>crafted to complement your lifestyle</p>
    <button class="btn btn-primary">Shop Now</button>
  </div>
</section>

<!-- Statistics -->
<section class="statistics">
  <div class="stat-item">
    <h3>200+</h3>
    <p>International Brands</p>
  </div>
  <div class="stat-item">
    <h3>2,000+</h3>
    <p>High-Quality Products</p>
  </div>
  <div class="stat-item">
    <h3>30,000+</h3>
    <p>Happy Customers</p>
  </div>
</section>



<!-- Your Favorite Tailors -->
<section class="tailors">
  <h2>Your Favorite Tailors</h2>
  <div class="tailor-grid">
    <div class="tailor-card">
      <img src="/assets/imgs/attachment_64384612.png" alt="Tailor 1">

    </div>
    <div class="tailor-card">
      <img src="/assets/imgs/logotailor.jpg" alt="Tailor 2">

    </div>
    <div class="tailor-card">
      <img src="/assets/imgs/armour.png" alt="Tailor 3">

    </div>
    <div class="tailor-card">
      <img src="/assets/imgs/pngtree-cloth-handcraft-logo-design-vector-png-image_5435260.jpg" alt="Tailor 3">

    </div>
    
  </div>
</section>




<!-- Featured Products -->

<section class="featured-products">
  <div class="widthh" style=" display: flex; width: 100%; justify-content: center; align-items: center;">
    <div class="container" style="width: 90%;">
    <h2>Hot Sales</h2>
    <div class="product-grid">
      <div class="product-card">
        <img src="/assets/imgs/a.webp" alt="Product 1">
        <h2>Fashion Suit</h2>
        <div style="display: flex; align-items: center; justify-content: center;" class="rating"><img style="height: 20px;" src="/assets/imgs/icons8-star.gif" alt=""><p class="rated">4.5/5</p> </div>
        <p class="price">Ksh. 38,000</p>
      </div>
      <div class="product-card">
        <img src="/assets/imgs/white.webp" alt="Product 1">
        <h2>Fashion Suit</h2>
        <div style="display: flex; align-items: center; justify-content: center;" class="rating"><img style="height: 20px;" src="/assets/imgs/icons8-star.gif" alt=""><p class="rated">4.5/5</p> </div>
        <p class="price">Ksh. 38,000</p>
      </div>
      <div class="product-card">
        <img src="/assets/imgs/slimsuit.webp" alt="Product 1">
        <h2>Fashion Suit</h2>
        <div style="display: flex; align-items: center; justify-content: center;" class="rating"><img style="height: 20px;" src="/assets/imgs/icons8-star.gif" alt=""><p class="rated">4.5/5</p> </div>
        <p class="price">Ksh. 38,000</p>
      </div>
      <div class="product-card">
        <img src="/assets/imgs/brownfloral.webp" alt="Product 1">
        <h2>Fashion Suit</h2>
        <div style="display: flex; align-items: center; justify-content: center;" class="rating"><img style="height: 20px;" src="/assets/imgs/icons8-star.gif" alt=""><p class="rated">4.5/5</p> </div>
        <p class="price">Ksh. 38,000</p>
      </div>
    </div>
      
    </div>
  </div>
  
</section>

<!-- Fashion Categories -->
<section class="fashion-categories">
  <h2>All Signature Fashions Available</h2>
  <div class="category-list">
    <div class="category-item">
      <img src="/assets/imgs/whitebr.jfif" alt="Casual">
      <h3>Casual</h3>
    </div>
    <div class="category-item">
      <img src="/assets/imgs/mzae.png" alt="Office Wear">
      <h3>Office Wear</h3>
    </div>
    <div class="category-item">
      <img src="/assets/imgs/mens-silk-satin-pajamas-set-men-s-sleepwear-pyjamas-lestyleparfait-kenya-sleepwear-1.webp" alt="Comfy Wears">
      <h3>Comfy Wears</h3>
    </div>
    <div class="category-item">
      <img src="/assets/imgs/weddng.jpg" alt="Outdoor">
      <h3>Occasion</h3>
    </div>
  </div>
</section>

<!-- Latest Additions-->
<section class="latest-additions">
  <h2>LATEST ADDITIONS</h2>
  <div class="marquee-container">
  <div class="additions-grid">
    <div class="addition-card">
      <img src="/assets/imgs/3d-hoodie-street-fashion-unisex-hoodie-lestyleparfait-kenya-hoodie-1.webp" alt="Product 1">
      <h2>Fashion Suit</h2>
      <div style="display: flex; align-items: center; justify-content: center;" class="rating"><img style="height: 20px;" src="/assets/imgs/icons8-star.gif" alt=""><p class="rated">4.5/5</p> </div>
      <p class="price">Ksh. 38,000</p>
    </div>
    <div class="addition-card">
      <img src="/assets/imgs/men-dress-shoes-oxford-shoes-big-size-men-s-shoes-lestyleparfait-kenya-shoes-1.webp" alt="Product 1">
      <h2>Fashion Suit</h2>
      <div style="display: flex; align-items: center; justify-content: center;" class="rating"><img style="height: 20px;" src="/assets/imgs/icons8-star.gif" alt=""><p class="rated">4.5/5</p> </div>
      <p class="price">Ksh. 38,000</p>
    </div>
    <div class="addition-card">
      <img src="/assets/imgs/denim2.webp" alt="Product 1">
      <h2>Fashion Suit</h2>
      <div style="display: flex; align-items: center; justify-content: center;" class="rating"><img style="height: 20px;" src="/assets/imgs/icons8-star.gif" alt=""><p class="rated">4.5/5</p> </div>
      <p class="price">Ksh. 38,000</p>
    </div>
    <div class="addition-card">
      <img src="/assets/imgs/hip-hop-sweatshirts-black-unisex-lestyleparfait-kenya-sweatshirt-1.webp" alt="Product 1">
      <h2>Fashion Suit</h2>
      <div style="display: flex; align-items: center; justify-content: center;" class="rating"><img style="height: 20px;" src="/assets/imgs/icons8-star.gif" alt=""><p class="rated">4.5/5</p> </div>
      <p class="price">Ksh. 38,000</p>
    </div>
    <div class="addition-card">
      <img src="/assets/imgs/fitnesspants.webp" alt="Product 1">
      <h2>Fashion Suit</h2>
      <div style="display: flex; align-items: center; justify-content: center;" class="rating"><img style="height: 20px;" src="/assets/imgs/icons8-star.gif" alt=""><p class="rated">4.5/5</p> </div>
      <p class="price">Ksh. 38,000</p>
    </div>
    <div class="addition-card">
      <img src="/assets/imgs/men-dress-shoes-lace-up-office-shoes-black-brown-lestyleparfait-kenya-shoes-1.webp" alt="Product 1">
      <h2>Fashion Suit</h2>
      <div style="display: flex; align-items: center; justify-content: center;" class="rating"><img style="height: 20px;" src="/assets/imgs/icons8-star.gif" alt=""><p class="rated">4.5/5</p> </div>
      <p class="price">Ksh. 38,000</p>
    </div>
    <div class="addition-card">
      <img src="/assets/imgs/brownshirt.webp" alt="Product 1">
      <h2>Fashion Suit</h2>
      <div style="display: flex; align-items: center; justify-content: center;" class="rating"><img style="height: 20px;" src="/assets/imgs/icons8-star.gif" alt=""><p class="rated">4.5/5</p> </div>
      <p class="price">Ksh. 38,000</p>
    </div>
  </div>
  </div>
</section>



<!-- Footer -->
<footer class="footer" style="margin-top: 40px;">
  <div class="footer-content">
    <div class="footer-section">
      <h4>Company</h4>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Works</a></li>
        <li><a href="#">Career</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Help</h4>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Resources</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Customer Support</h4>
      <ul>
        <li><a href="#">Delivery Details</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Account</h4>
      <ul>
        <li><a href="#">Manage Deliveries</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Payments</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Free eBooks</h4>
      <ul>
        <li><a href="#">Development Tutorial</a></li>
        <li><a href="#">How to - Blog</a></li>
        <li><a href="#">Youtube Playlist</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 t2g men'Shopie. . .For Men By Men</p>
  </div>
</footer>
