.form-holder { 
  width: 100%;
  padding: 2%;
  display: grid;
  row-gap: 2%;
  grid-template-rows: 80% 20%;
  min-height: 100vh;
}

.form-and-image {
  width: 100%;
  height: 100%;
  display: grid;
  column-gap: 2%;
  grid-template-columns: 62% 35%;
}

.form {
  width: 100%;
  height: 100%;
}

form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 16% 30% 16% 16% 16%;
  gap: 1%;
}

label {
  font-weight: 550;
}

input, textarea {
  width: 98%;
  border: 1px solid rgba(0, 0, 0, 0.774);
  border-radius: 5px;
  padding: 10px;
}

textarea {
  height: 75%;
}

input {
  /* height: 55%; */
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-and-size {
  width: 98%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
}

.price-and-size div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-and-size div > input {
  width: 100%;
}

.buttons {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1%;
  padding: 0px 2%;
}

.buttons button {
  padding: 1.5% 3%;
  font-weight: 600;
}

.create, .cancel {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.774);
}

.update {
  background-color: #39c6c6;
}

.delete {
  border-radius: 10px;
  background-color: #de4545;
}

.image-holder {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 60% 38%;
  row-gap: 2%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.gallery {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-placeholder {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  border: 2px dotted rgb(158, 157, 157);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.image-placeholder img {
  width: 16%;
}

.image-placeholder p {
  color: rgb(158, 157, 157);
  font-size: 12px;
  width: 60%;
  line-height: 25px;
}
