@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
}

main{
  margin-left: 60px;
}

.dir{
  margin: 20px 0;
}

.container{
  display: flex;
  gap: 30px;
  background-color: aquamarine;
}

.cartTop{
  display: flex;
  align-items: center;
  margin: 20px;
  font-size: 25px;
}

.cartItems{
  padding: 20px;
  border: 1px solid #cdcdcd;
  width: 43vw;
  border-radius: 25px;
}

.productView{
  display: flex;
  padding: 20px;
  width: 40vw;
  border-bottom: 1px solid #cdcdcd;
}

.details{
  width: 100%;
}

.topDelete{
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.delete img:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.size{
  margin: 10px 0;
}
.price{
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.amount {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 5px;
  gap: 20px;
  background-color: #F0F0F0;
  border-radius: 50px;
}
.decrement, .increment {
  padding: 6px 10px;
  font-size: 15px;
  border-radius: 100%;
  background-color: transparent;
}
.decrement:hover, .increment:hover{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 30px rgba(126, 126, 126, 0.617);
}

span{
  cursor: pointer;
}

.orderSummary{
  width: 100%;
  padding: 20px;
  border: 1px solid #cdcdcd;
  border-radius: 25px;
  height: fit-content;
}

.txtSummary{
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid #cdcdcd;
  margin: 20px 10px;
}

.parent{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.key{
  font-size: 19px;
}
.discount{
  color: red;
}

.keyp, .amntT{
  font-size: 24px;
}

.buttonContainer{
  display: flex;
  justify-content: center;
}
.checkout{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 80px;
  border-radius: 30px;
  margin-top: 40px;
  gap: 10px;
}

.checkout:hover{
  background-color: rgb(29, 29, 29);
  box-shadow: 0 0 30px rgba(126, 126, 126, 0.617);
}

.topDelete{
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.reviewButton{
  padding: 10px 15px;
  border-radius: 30px;
}
.reviewButton:hover{

}
