<head>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <div class="dir">
      <span>Home</span> > <span>Shop</span> > <span>Cart</span> > <span>History</span>
      <div class="cartTop">
        <div class="ctxt">
          Your History
        </div>
      </div>
      <div class="container">

        <div class="cartItems">
          <!-- One Product -->
          <div class="productView">
            <div class="image">
              <img style="height:120px;"
                src="/assets/imgs/men-s-casual-t-shirshort-sleeve-o-neck-t-shirt-lestyleparfait-kenya-t-shirts-1.webp"
                alt="">
            </div>
            <div class="details">
              <div class="topDelete">
                <div class="name">
                  Casual short sleeve T-Shirt
                </div>
                <div class="review">
                  <button class="reviewButton">Review</button>
                </div>
              </div>

              <div class="size">

              </div>

              <div class="quantity">
                Quantity: 5
              </div>
              <div class="size">
                Size: Large
              </div>
            </div>
          </div>


          <!-- One Product -->
          <div class="productView">
            <div class="image">
              <img style="height:120px;"
                src="/assets/imgs/men-s-casual-t-shirshort-sleeve-o-neck-t-shirt-lestyleparfait-kenya-t-shirts-1.webp"
                alt="">
            </div>
            <div class="details">
              <div class="topDelete">
                <div class="name">
                  Casual short sleeve T-Shirt
                </div>
                <div class="review">
                  <button class="reviewButton">Review</button>
                </div>
              </div>

              <div class="size">

              </div>

              <div class="quantity">
                Quantity: 5
              </div>
              <div class="size">
                Size: Large
              </div>
            </div>
          </div>

          <!-- One Product -->
          <div class="productView">
            <div class="image">
              <img style="height:120px;"
                src="/assets/imgs/men-s-casual-t-shirshort-sleeve-o-neck-t-shirt-lestyleparfait-kenya-t-shirts-1.webp"
                alt="">
            </div>
            <div class="details">
              <div class="topDelete">
                <div class="name">
                  Casual short sleeve T-Shirt
                </div>
                <div class="review">
                  <button class="reviewButton">Review</button>
                </div>
              </div>

              <div class="size">

              </div>

              <div class="quantity">
                Quantity: 5
              </div>
              <div class="size">
                Size: Large
              </div>
            </div>
          </div>
          <!-- ?End of inidividual cart item -->
        </div>
        <!-- End of cart items -->

      </div>
