<div *ngIf="loading" class="overlay">
  <app-loading></app-loading>
</div>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <app-navbar></app-navbar>
    <div class="dir">
      <span>Home</span> > <span>Shop</span> > <span>History</span>
      <div class="cartTop">
        <div class="ctxt">
          Purchase History
        </div>
      </div>
      <div class="container">

        <div class="cartItems">
          <!-- One Product -->
          <div class="productView" *ngFor="let product of products">
            <div class="image">
              <img style="height:120px;"
                src= "{{product.image}}"
                alt="">
            </div>
            <div class="details">
              <div class="topDelete">
                <div class="name">
                  {{product.name}}
                </div>
                <div class="review">
                  <button class="reviewButton">Review</button>
                </div>
              </div>

              <div class="size">

              </div>

              <div class="quantity">
                : {{product.quantity}}
              </div>
              <div class="size">
                Size: {{product.size}}
              </div>
            </div>
          </div>



          <!-- ?End of inidividual cart item -->
        </div>
        <!-- End of cart items -->






      </div>
